### Part 1 Create the dataframe

In [1]:
import pandas as pd
import numpy as np

The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

In [12]:
raw = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]
df = pd.DataFrame(raw)
df.columns=['Postcode','Borough','Neighbourhood']
df.head(10)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights
7      M6A        North York    Lawrence Manor
8      M7A      Queen's Park      Not assigned
9      M8A      Not assigned      Not assigned

Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [18]:
df =df[df.Borough != 'Not assigned']
df.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

In [22]:
df1=df.groupby("Postcode",as_index = False).agg(lambda x:','.join(set(x)))
df1.head(10)

  Postcode      Borough                                  Neighbourhood
0      M1B  Scarborough                                  Malvern,Rouge
1      M1C  Scarborough           Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough                West Hill,Morningside,Guildwood
3      M1G  Scarborough                                         Woburn
4      M1H  Scarborough                                      Cedarbrae
5      M1J  Scarborough                            Scarborough Village
6      M1K  Scarborough      East Birchmount Park,Kennedy Park,Ionview
7      M1L  Scarborough                  Oakridge,Clairlea,Golden Mile
8      M1M  Scarborough  Cliffcrest,Scarborough Village West,Cliffside
9      M1N  Scarborough                     Cliffside West,Birch Cliff

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.

In [37]:
for i in range(len(df1)):
    if df1['Neighbourhood'].iloc[i] =='Not assigned':
        df1['Neighbourhood'].iloc[i]= df['Borough'].iloc[i]
df1.head(10)

  Postcode      Borough                                  Neighbourhood
0      M1B  Scarborough                                  Malvern,Rouge
1      M1C  Scarborough           Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough                West Hill,Morningside,Guildwood
3      M1G  Scarborough                                         Woburn
4      M1H  Scarborough                                      Cedarbrae
5      M1J  Scarborough                            Scarborough Village
6      M1K  Scarborough      East Birchmount Park,Kennedy Park,Ionview
7      M1L  Scarborough                  Oakridge,Clairlea,Golden Mile
8      M1M  Scarborough  Cliffcrest,Scarborough Village West,Cliffside
9      M1N  Scarborough                     Cliffside West,Birch Cliff

In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [39]:
df1.shape

(103, 3)